fastapi
uvicorn
python-multipart
audio-separator[gpu]
demucs
basic-pitch
music21
librosa
numpy
scipy

soundfile
dora-search
einops
julius
lameenc
openunmix
torchaudio
tqdm
piano_transcription_inference
torchcrepe
transformers<4.30.0
